<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{product_name} Booking Confirmation</title>
</head>
<body>
    <h1>{product_name}</h1>

    <p>Dear {firstName} {surname},</p>

    <p>Thank you for choosing {product_name}. Please find your booking confirmation details below:</p>

    <div><strong>Port:</strong> {airport}</div>
    <div><strong>Product Name:</strong> {product_name}</div>
    <div><strong>Name:</strong> {firstName} {surname}</div>
    <div><strong>Email:</strong> {email}</div>
    <div><strong>Reference Code:</strong> {reference}</div>
    <div><strong>Departure Date:</strong> {depart_at}</div>    
    <div><strong>Return Date:</strong> {return_at}</div>
    <div><strong>Cruise Terminal:</strong> {OutTerminal}</div>
    <div><strong>Ship Name:</strong> {RetTerminal}</div>
    <div><strong>Total Days:</strong> {total_days}</div>
    <div><strong>Price:</strong> £{price}</div>
    <div><strong>Contact No:</strong> {contactNumber}</div>
    <div><strong>Make:</strong> {carMake}</div>
    <div><strong>Model:</strong> {carModel}</div>
    <div><strong>Color:</strong> {carColour}</div>
    <div><strong>Reg No:</strong> {carReg}</div>
    

    <h2>Useful Information</h2>
    <p>{useful_information}</p>

    <h2>Parking Facility Contact</h2>
    <p>{parking_facility_contact}</p>

    <h2>What to do When You Arrive</h2>
    <p>{what_to_do_when_you_arrive}</p>

    <h2>What to do When You Return</h2>
    <p>{what_to_do_when_you_return}</p>

    <h2>Security Information</h2>
    <p>{security_information}</p>

</body>
</html>
